[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "kraky"
version = "2023.08.17"
description = "Python client for Kraken API REST and Kraken Websockets API using httpx and websockets. Supports both sync and async for API REST."
authors = [{ name = "Atem18", email = "contact@atemlire.io" }]
license = { file = "LICENSE" }
readme = "README.md"
homepage = "https://kraky.readthedocs.io/en/latest"
repository = "https://github.com/Atem18/kraky"
keywords = ["asyncio", "httpx", "websockets", "kraken"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

dependencies = [
    "httpx >=0.23.3,<0.25.0",
    "websockets >=10.4,<12.0",
    "typer >=0.7,<0.10",
    "python-dotenv >=0.21.1,<1.1.0",
]

[project.optional-dependencies]
dev = ["pre-commit >=2.17.0,<4.0.0", "ruff == 0.0.287", "mypy == 1.5.1"]

doc = [
    "mkdocs == 1.5.2",
    "mkdocs-material == 9.2.6",
    "mkdocstrings == 0.23.0",
    "mkdocstrings-python == 1.6.0",
]

test = ["pytest == 7.4.0", "pytest-asyncio == 0.21.1", "tox == 4.11.1"]

build = ["hatch == 1.7.0"]

[project.scripts]
kraky = 'kraky.cli:app'
